<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Create New Station</title>
</head>
<body>
<div style="padding: 3% 5% 5% 5%; width: 80%">
    <h1>Create New Station</h1>
    <div class="container-fluid">
        <form class="form-group" action="create_new_station" method="post">
            <label for="station_name">Station Name:</label>
            <input type="text" name="station_name" class="form-control" id="station_name" required>

            <label for="station_id">Stop ID:</label>
            <input type="text" name="station_id" class="form-control" id="station_id" required>

            <label for="station_fare">Enter Fare:</label>
            <input type="text" name="station_fare" class="form-control" id="station_fare" required>

            <input type="radio" name="BusOrTrain" value="Bus" font:24px required>Bus Station<br>
                <label for="bus_intersection">Nearest Intersection: </label>
                <input type="text" class="form-control" name="bus_intersection" id="bus_intersection" style="width:20%">
            <input type="radio" name="BusOrTrain" value="Train" font:24px required>Train Station<br>


            <label for="station_status">Station Status:</label><br>
                <input type="radio" name="station_status" value="Open" required="true" font:24px>Open<br>
                <input type="radio" name="station_status" value="Closed" required="true" font:24px>Closed<br>

            <br>
            <button id="btnSignIn" class="btn btn-primary" type="submit">Create Station</button>
            <a class=" btn btn-default" href="to_station_management" role="button">Back to Station</a>
        </form>

    </div>

</div>
<p id = "feedback"  style="color: red">{{error}}</p>

</body>
</html>
