<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Welcome to Marta!</title>
    <script src="../Scripts/homepage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>
    <h1 align="center">Welcome to Marta!</h1>
    <br>
    <p align="center">
        <!--Making buttons might be nice-->

        <p>Breezecard</p>
        <form class="form-group" action="balance_or_start" method="post">


        <select name="card_selected">
        <option value = {{selected_card[0]}} selected>{{selected_card[0]}}</option>
        {% for card in card_list %}
          <option value = {{card[0]}}>{{ card[0] }}</option>
        {% endfor %}
        </select>
        <button class="btn btn-primary" name = "balance_or_start" value = "select_breeze_card" id="select_breeze_card" type="submit">Select Card</button>
        <p>Balance: ${{selected_card[1]}}</p>

        <hr>
        {% if in_trip %}
            <p>Start At</p>
            {% for startStation in startList %}
                <p>{{ startStation[0][0] }} ${{ startStation[0][1] }} || Trip in progress</p>
            {% endfor %}
        {%else%}

            <p>Start At</p>
            {% for startStation in startList %}
            <p>
                <input type="radio" name="start_selected" value = {{startStation[1] }}>{{ startStation[0][0] }} ${{ startStation[0][1] }}
            </p>
            {% endfor %}
            <button class="btn btn-primary" name = "balance_or_start" value = "start_trip" id="start_trip" type="submit">Start Trip</button>
        </form>
        {%endif%}
        <form class="form-group" action="user_end_trip" method="post">
        <p>Ending At</p>

        {% for endStation in endList %}
        <p>
            <input type="radio" name="end_selected" value = {{endStation[1] }}>{{ endStation[0]}}
        </p>
        {% endfor %}
        <button class="btn btn-primary" name = "user_end_trip" value = "user_end_trip" id="user_end_trip" type="submit">End Trip</button>
        </form>

        <br>
        <a class=" btn btn-danger" href="to_login" role="button">Sign out</a>
    </p>
    <p id = "feedback"  style="color: red">{{error}}</p>

</body>
</html>
