<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Welcome to Marta!</title>
    <script src="../Scripts/homepage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>
    <h1 align="center">Welcome to Marta!</h1>
    <br>
    <p align="center">
        <!--Making buttons might be nice-->
        <p>{{info_list[1][3]}}</p>
        <br>
        <a class=" btn btn-danger" href="to_login" role="button">Sign out</a>
    </p>

</body>
</html>
