<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Card</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="padding: 3% 5% 5% 5%; width: 80%">
    <h1>Breeze Card</h1>
   <table class="table table-hover">
        <thead>
          <tr>
              <td>Card Number</td>
              <td>Value</td>
              <td></td>
          </tr>
        </thead>
        <tbody>
        {% for o in breezeCard %}
          <tr>
                <td>{{ o["cardNum"] }}</td>
                <td>{{ o["value"] }}</td>
                <td>{{ o["removal"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a class=" btn btn-primary" href="{{ url_for('to_write_reviews_single', subject=info['name']) }}" role="button">Write Review</a>
    <a class=" btn btn-default" href="/to_city_search" role="button">Go Back</a>

</body>
</html>