<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Passenger Flow Report</title>
</head>
<body>
<div class="container">
      <h2>Passenger Flow Report</h2>
      <label for="pwd">Start Time</label>
      <input type="text" name="usr" id="usr" class="form-control" placeholder="startTime" required autofocus>

      <label for="pwd">End Time</label>
      <input type="text" name="usr" id="usr" class="form-control" placeholder="endTime" required autofocus>

      <a class=" btn btn-primary" href="{{ url_for('to_write_reviews_single', subject=info['name']) }}" role="button">Update</a>
      <a class=" btn btn-default" href="/to_city_search" role="button">Reset</a>


      <table class="table table-hover">
        <thead>
          <tr>
              <td>Station Name</td>
              <td>Numeber Passenger In</td>
              <td>Number Passenger Out</td>
              <td>Flow</td>
              <td>Revenue</td>
          </tr>
        </thead>
        {% for o in passengers %}
          <tr>
                <td>{{ o["stationName"] }}</td>
                <td>{{ o["passIn"] }}</td>
                <td>{{ o["passOut"] }}</td>
                <td>{{ o["flow"] }}</td>
                <td>{{ o["revenue"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <br>
    <a class=" btn btn-default" href="to_city_search" role="button">Go Back</a>
    </div>

</body>
</html>