<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="padding: 3% 5% 5% 5%; width: 80%">
  <form class="container-fluid" action="station_management" method="post">
    <h1>Station Information</h1>
    <br>
    <table class="table table-hover">
        <thead>
          <tr>
              <td>Station Name
                <button class="btn btn-default btn-xs" aria-label="Left Align" name="station_management" value="station_name_up" type="submit">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
              </td>

              <td>Stop ID
                <button type="submit" class="btn btn-default btn-xs" aria-label="Left Align" name="station_management" value="stop_id_up">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
                <button type="submit" class="btn btn-default btn-xs" aria-label="Left Align" name="station_management" value="stop_id_down">
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
              </td>

              <td>Fare
                <button type="submit" class="btn btn-default btn-xs" aria-label="Left Align" name="station_management" value="fare_up">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
                <button type="submit" class="btn btn-default btn-xs" aria-label="Left Align" name="station_management" value="fare_down">
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
              </td>

              <td>Status
                <button type="submit" class="btn btn-default btn-xs" aria-label="Left Align" name="station_management" value="status_up">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
                <button type="submit" class="btn btn-default btn-xs" aria-label="Left Align" name="station_management" value="status_down">
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
              </td>
          </tr>
        </thead>
        <tbody>
        {% for o in station_list %}

          <tr>
                <td>
                  <input type="radio" name="row_select" value = {{ o[0] }}>{{ o[1] }}
                </td>
                <td>{{ o[0] }}</td>
                <td>{{ o[2] }}</td>
                {% if o[3] == 0 %}
                <td>Open</td>
                {%else%}
                <td>Close</td>
                {%endif%}

          </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <a class=" btn btn-default" href="/to_create_new_station" role="button">Creat New Station</a>
    <button class="btn btn-primary" id="station_management" name = "station_management" value = "select_station" type="submit">Select Station</button>
    <a class=" btn btn-default" href="/to_admin" role="button">Go Back</a>

    <br>

</form>
</body>
</html>
