<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="padding: 3% 5% 5% 5%; width: 80%">
    <form class="container-fluid" action="update_station_detail" method="post">
    <h1>
        {{station_info_tuple[1]}}<br>
        Stop ID: {{station_info_tuple[0]}}<br>
    </h1>

        <label for="fare">Fare</label>
        <select name="station_id">
        <option value = {{station_info_tuple[0]}} selected> {{station_info_tuple[0]}}</option>
        </select>
        <input type="text" name="fare" class="form-control" id="fare" value = {{station_info_tuple[2]}}>
        <button class="btn btn-primary" id="update_fare" name = "update_station_detail" value = "update_fare" type="submit">Update Fare</button>
    <p>
        {% if not_have_intersection %}
        Nearest Intersection: Not available<br>
        {%else%}
        Nearest Intersection: {{intersection_name}}<br>
        {%endif%}
        {% if station_info_tuple[3] == 0 %}
        Status: <br>
            <select name="status_selected">
            <option value = '0' selected>Open</option>
            <option value = '1'> Close</option>
            </select>
        {%else%}
        Status<br>
            <select name="status_selected">
            <option value = '0'>Open</option>
            <option value = '1' selected> Close</option>
            </select>
        {%endif%}
        <button class="btn btn-primary" id="update_status" name = "update_station_detail" value = "update_status" type="submit">Update Status</button>
    </p>
    <a class=" btn btn-default" href="/to_station_management" role="button">Go Back</a>
  </form>

</body>
</html>
