<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="padding: 3% 5% 5% 5%; width: 80%">
    <h1>{{station_info_tuple[1]}}</h1>
    <p>
        <label for="fare">Fare</label>
        <input type="text" name="fare" class="form-control" id="fare" value = {{station_info_tuple[2]}}>
        <a class=" btn btn-default btn-xs">Update Fare</a><br>
        Nearest Intersection: {{station_info_tuple[]}}<br>
        Status: {{station_info_tuple[3]}}<br>
        Stop ID: {{station_info_tuple[0]}}<br>
    </p>
    <a class=" btn btn-default" href="/to_station_management" role="button">Go Back</a>

</body>
</html>
