<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>Suspended Cards</title>
</head>
<body>
    <div class="container">
      <h2>Suspended Cards</h2>
      <table class="table table-hover">
        <thead>
          <tr>
              <td>Card Number</td>
              <td>New Owner</td>
              <td>Date Suspended</td>
              <td>Previous Owner</td>
          </tr>
        </thead>
        <tbody>
        {% for o in suspended %}
          <tr>

                <td><a href="{{ url_for('to_country_page', country=o['name']) }}">{{ o["cardNum"] }}</a></td>
                <td>{{ o["newOwner"] }}</td>
                <td>{{ o["dateSuspend"] }}</td>
                <td>{{ o["prevOwner"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
        <br>
        <a class=" btn btn-default" href="to_country_search" role="button">Assign Selected Card to New Owner</a>
        <a class=" btn btn-default" href="to_country_search" role="button">Assign Selected Card to Previous Owner</a>
    </div>


</body>
</html>