<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>Suspended Cards</title>
</head>
<body>
  <form class="form-group" action="suspended_reassign" method="post">
    <div class="container">
      <h2>Suspended Cards</h2>
      <table class="table table-hover">
        <thead>
          <tr>
              <td></td>
              <td>Card Number
                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" name="suspended_reassign" value="card_number_up">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
              </td>
              <td>New Owner</td>
              <td>Date Suspended
                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" name="suspended_reassign" value="date_suspended_up">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" name="suspended_reassign" value="date_suspended_down">
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
              </td>
              <td>Previous Owner</td>
          </tr>
        </thead>
        <tbody>
        {% for o in card_list %}
          <tr>  <td><input type="radio" name="card_selected" value = {{o[0]}}></td>
                <td>{{ o[0] }}</td>
                <td>{{ o[1] }}</td>
                <td>{{ o[2] }}</td>
                <td>{{ o[3] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
        <br>
        <button class="btn btn-primary" name = "suspended_reassign" value = "set_new_owner" id="set_new_owner" type="submit">Assign Selected Card to New Owner</button>
        <button class="btn btn-primary" name = "suspended_reassign" value = "set_old_owner" id="set_old_owner" type="submit">Assign Selected Card to Previous Owner</button>
    </div>
</form>

</body>
</html>
