<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip History Information</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="padding: 3% 5% 5% 5%; width: 80%">
    <h1>Trip History Information</h1>
    <br>
    Trips within:<br>
    <table class="table table-hover">
        <thead>
          <tr>
              <td>Time
                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
              </td>
              <td>Source</td>
              <td>Destination</td>
              <td>Fare Paid</td>
              <td>Card Number</td>
          </tr>
        </thead>
        <tbody>
        {% for o in trips %}
          <tr>
                <td>{{ o["time"] }}</td>
                <td>{{ o["source"] }}</td>
                <td>{{ o["designation"] }}</td>
                <td>{{ o["farePaid"] }}</td>
                <td>{{ o["cardNum"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>