<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Administrator</title>
    <script src="../Scripts/homepage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>

    <h1 align="center">Select Operation</h1>
    <br>
    <p align="center">

        <a href="to_station_management">Station Management</a><br>
        <a href="to_suspend_card">Suspended Card</a><br>
        <a href="to_breeze_card">Breeze Card Management</a><br>
        <a href="to_passenger_flow_report">Passenger Flow Report</a><br>
        <br>
        <a class=" btn btn-danger" href="to_login" role="button">Sign out</a>
    </p>
    <p id = "feedback"  style="color: red">{{error}}</p>

</body>
</html>
